# BASE VARIABLES (useful for most projects)
#------------------------------------------------

PUBLIC_GITHUB_PROFILE=https://github.com/<YOUR_USERNAME>
PUBLIC_REPOSITORY_URL=https://github.com/<YOUR_USERNAME>/<YOUR_REPO>
PUBLIC_DOCS_URL=https://github.com/<YOUR_USERNAME>/<YOUR_REPO>/blob/main/README.md
PUBLIC_GITHUB_STARS_URL=https://api.github.com/repos/<YOUR_USERNAME>/<YOUR_REPO>


# PUBLIC APP URL (used for Stripe success/cancel redirects)
#------------------------------------------------
PUBLIC_BASE_URL=http://localhost:5173

# SUPABASE
#------------------------------------------------
PUBLIC_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SECRET_SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
#------------------------------------------------

# STRIPE VARIABLES 
#------------------------------------------------
SECRET_STRIPE_KEY='YOUR_SECRET_KEY'
PUBLIC_STRIPE_KEY='YOUR_PUBLIC_KEY'

#------------------------------------------------
# Sign up for free at https://umami.is/
# UMAI ANALYTICS VARIABLES 
#------------------------------------------------
SECRET_UMAMI_ID='2fe3dbf5-81ae-4665-a9c0-6c824f7b5efc'